<h1>Clase 1</h1>
<!-- <h2>title {{title}} proxima clase {{1+1}} no se puede comparaciones </h2>
<input type="text" name="" id="" [(ngModel)]="buffer">
<button type="button" (click)="onBTN()">Cambio title</button> -->
<!-- Ejercicios Clase 01

1- (app.component.html) Realizar:
Una aplicación que se le ingresen dos edades en dos cuadro de textos
edadUno, EdadDos
mostrar el promedio y la suma en dos cuadros de textos nuevos
botones "calcular" y "limpiar cuadros de textos"

-->
<p>
  edad 1:<input type="number" [(ngModel)]="edadUno" />
</p>
<p>
  edad 2:<input type="number" [(ngModel)]="edadDos" />
</p>

<button type="button" (click)="onCalcular()">Calcular</button>
<button type="button"(click)="onLimpiar()">Limpiar cuadros de textos</button>
<input type="text" name="" id="" [(ngModel)]="promedio">

<router-outlet />
